[core]
    editor = vim
    excludesfile = ~/.gitignore
[alias]
    tree = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    co = checkout
    st = status --short --branch
    fc = fetch -p
    alias = !"git config --list | grep alias | sed -e 's/^alias.//g'"

[include]
    path = ~/.gitconfig-user

[pull]
	rebase = false
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
